/* common styles */

.content  > section:not(.active-section) { 
    display:none; 
}

.no-padding {
    padding: 0;
}

.page-title {
    margin-top: 7px; 
}

.content {
    padding-left: 5px;
}

.breadcrumb-small {
    width: 60%;
}

/* -------------- */

/* Users list styles */

#userlist tbody tr  {
    cursor: pointer;
}

/* -------------- */

/* Profile styles */

.profile-table tr td:first-child  {
    text-align: right;
}

.profile-table tr td:last-child  {
    font-weight: bold;
}

.profile-table td {
    padding: 12px;
}

/* -------------- */

/* Edit profile styles */

.edit-profile-form {
    width: 30%;
}

.edit-profile-form div {
    margin-top: 12px; 
}

.btn-profile-save {
    float: right;
    margin-top: 30px; 
}

/* -------------- */